html, body, h1, h2, h3, h4, h5 {font-family:Georgia, 'Times New Roman', Times, serif}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 140px;
    background-color: #444444;
    color:rgb(255, 255, 255);
  
}
.player-zoomed{
    position: absolute;
    max-height:none;
    max-width:none;
    top: 50%;
    left: 50%;

}

.hidden{
    display:none;
}
.filtered{
    display:none;
}
.left-grid-item {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color:#444444;
  border: 0px solid rgba(0, 0, 0, 0.8);
  font-size: 18px;
  height:140px;
  text-align: center;
  width:320px;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  overflow-y:hidden;
  position: relative;
  filter:blur(0px);
}

.left-feed{
    height:380px;
    grid-row:2;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color:#444444;
    background-color: #333333;
    filter:blur(0px);
    z-index: 3;
    
}

.left-bottom{
    grid-row:3;
    width: 320px;
    height: 140px;
    overflow-x: hidden;
    
}
.left-checkbox-container >div{
    min-width: 95px;
    float:left;

}
.left-checkbox-container > input{
    background-color: #1d1d1d;
}

.right-checkbox-container >div{
    min-width: 95px;
    float:left;

}
.right-checkbox-container > input{
    background-color: #1d1d1d;
}
.mid-bottom-controls > button{
    width: 70px;
}
.mid-grid-item {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    z-index: 4;
    background-color:#444444;;
    border: 0px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    overflow-y:visible;
    width:320px;
    height:100%;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    position: relative;
    overflow-x: visible;
    filter:blur(20px);
}

.right-grid-item {
    background-color:#444444;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: 0px solid rgba(0, 0, 0, 0.8);
    font-size: 18px;
    height:140px;
    text-align: center;
    width:320px;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    overflow-y:hidden;
    position: relative;
    filter:blur(0px);
    z-index: 3;
}

.right-feed{
    height:380px;
    grid-row:2;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color:#444444;
    background-color: #333333;
    filter:blur(0px);
}

.right-bottom{
    grid-row:3;
    width: 320px;
    height:140px;
    overflow-y:hidden;
}

.page-container{
    background-color: #444444;
}

.post-container{
    position: relative;
    background-color:#444444;
    flex:none;
    height:102px;
    font-size:12px;
    border: 1px solid rgba(138, 137, 137, 0.8);
}
.post-container.unstyled{
    border: 0px solid rgba(138, 137, 137, 0.8);
}
.post-container:not(.unstyled):hover{
    background-color: #313131;
}
.post-image{
    position: absolute;
    max-height: 100px;
    max-width: 100px;
    padding: 0px;
    top:0;
    bottom:0;
    margin: auto;
    border: 1px solid black;
    border-radius: 1px;
}
.post-details{
    position: absolute;
    text-align: left;
    left:110px;
    padding: 5px;
}
.middle{
    left:120px;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background:#444444;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
input[type="checkbox"] { /* change "blue" browser chrome to yellow */
  filter: invert(100%) grayscale(1);
}
button, input[type="button"] {
    text-align: center;
    text-decoration: none;
    height:32px;
    background-color:#1b1b1bc2;
    color:rgb(230, 230, 230);
    transition-duration: 0.4s;
    cursor: pointer;
    
}
button:hover {
  background-color: #3a3a3ac2;
  color: white;
}
img:hover{
    background-color: #4e4e4ec2;
}
.player-controls{
    display: none;
}
.visible{
    display: none;
}
.credentials-bar{
    width: 150px;
}
.login-page{
    position: relative;
    top:50%;
    transform: translateY(-50%);
}
.transferred{
    opacity: .3;
}